pandas
numpy
matplotlib
seaborn
scikit-learn
lime
ipython
datasets
torch==2.5.1+cu121
torchvision==0.18.1+cu121
torchaudio==2.2.1+cu121
transformers
-f https://download.pytorch.org/whl/torch_stable.html
emoji
nltk